name: shourov-Bot

on:
  push:
    branches: [ workflow_dispatch ]
  pull_request:
    branches: [ workflow_dispatch ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: shourov-Bot
        run: npm start
