name: shourov-Bot

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Start shourov Bot
        run: node index.js
